---
# NOTE: Before you start using this file!

# - Make sure to rename this file to localhost.yml (or equivalent)
#
# - Keep this file secure! Specifically, if values such as passwd
#   and passwd_salt are defined you should encrypt this file using
#   something like ansible-vault.
#
# - Once renamed, this file is part of .gitignore. Please don't change
#   this unless you know what you are doing. Even once encrypted, you
#   don't want to share your secrets unless you need to.

# Users & Groups
#users_default_shell: /bin/bash
#users_create_primary_group: true
#users:
#  - username:
#    name: user1
#    primary_group: user1
#    groups: ['group1','group2']
#    shell: /bin/sh
#    passwd: a-plain-text-password
#    passwd_salt: a-unique-salt
#    state: present
#    ssh_authorized_keys:
#      - "ssh-rsa AAAAA.... foo@machine"
#      - "ssh-rsa AAAAB.... bar@machine"

# Sudo
#sudo_enabled: true
#sudo_group: wheel
#sudo_group_gid: 10
#sudo_group_string: ALL=(ALL) ALL

# Reflector
#reflector_countries:
#  - Sweden
#  - Denmark
#  - Norway

# Packages
#packages:
#  - vim
#  - fish

#aur:
#  enabled: false
#  install:
#    - pkg: package-query
#      dep: true
#    - pkg: yaourt

# Gnome Shell Extensions
#gnome_shell_extensions:
#  - id: 1010
#    state: present
#    enabled: true
#    users: ['user1','user2']

# Gnome Settings
#gsettings:
#  - schema: org.gnome.xxx
#    key: some-key
#    value: 'true'
#    users: ['user1','user2']
#gsettings_per_user:
#  - user: user1
#    settings:
#      - schema: org.gnome.xxx
#        key: some-key
#        value: 'true'

# HiDPI
#hidpi:
#  enabled: false
#  users: ['user1','user2']

# Yubikey
#yubikey:
#  enabled: false
#  users: ['user1','user2']
