[submodule "roles/grub"]
	path = roles/grub
	url = https://github.com/AsavarTzeth/ansible-grub.git
[submodule "roles/aur/library"]
	path = roles/aur/library
	url = https://github.com/AsavarTzeth/ansible-makepkg.git
	branch = urlunsplit_fix
