{{ ansible_managed | comment }}

[Trigger]
Operation = Upgrade
Type = Package
Target = pacman-mirrorlist

[Action]
Description = Updating pacman-mirrorlist with reflector and removing pacnew...
Depends = bash
Depends = coreutils
Depends = reflector
When = PostTransaction
Exec = /usr/bin/sh -c "/usr/bin/reflector -l 50 -n 5--sort rate {% for o in reflector_countries %}--country {{ o }} {% endfor %} --save /etc/pacman.d/mirrorlist && [[ -f /etc/pacman.d/mirrorlist.pacnew ]] && /usr/bin/rm /etc/pacman.d/mirrorlist.pacnew"
