[Unit]
Description=Pacman mirrorlist update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector -p https -l 50 -n 5 --sort rate \
{% for o in reflector_countries %}--country {{ o }} {% endfor %} \
--save /etc/pacman.d/mirrorlist
