[Desktop Entry]
Type=Application
Name=SSH Key Agent
Name[sv]=SSH-nyckelagent
Comment=GNOME Keyring: SSH Agent
Comment[sv]=GNOME-nyckelring: SSH-agent
Exec=/usr/bin/gnome-keyring-daemon --start --components=ssh
OnlyShowIn=GNOME;Unity;MATE;
X-GNOME-Autostart-Phase=PreDisplayServer
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.20.0
Hidden=true
